.user {
  display: flex;
  align-content: center;
  margin: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.name {
  font-size: 15px;
}

.status {
  font-size: 12px;
  color: gray;
  font-style: italic;
}
